html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;

}

.selected {
  color: white;
  background: steelblue;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

#panel {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

.resetButton {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: gray;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}
